.announcements__block{
	padding: 55px 0 80px;
	.text{
		width: 100%;
		float: left;
		h3{
			margin-bottom: 41px;
		}
	}
}
.announcement__block{
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 30px;
	color: #333;
	.image__wrapper{
		width: 100%;
		max-width: 353px;
		height: 320px;
		background-color: #F2F2F2;
		text-align: center;
		background-size: 124px 108px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/shareholders/placeholder.png);
		position: relative;
		overflow: hidden;
		z-index: 1;
		.image{
			height: 100%;
			height: 100%;
			display: inline-block;
			img{
				height: 100%;
				width: auto;
			}
		}
	}
	.content{
		width: 100%;
		max-width: 353px;
		min-height: 185px;
		float: right;
		background: #FFFFFF;
		padding: 25px 30px;
		margin-top: -150px;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
		position: relative;
		z-index: 2;
		h6{
			font-weight: 600;
			line-height: 24px;
			margin-bottom: 15px;
		}
		p{
			margin-bottom: 0;
		}
	}
}
@include media-breakpoint-down(md){
	.announcement__block {
		.image__wrapper{
			height: 250px;
			max-width: 100%;
		}
		.content{
			max-width: 100%;
			margin-top: 0;
		}
	}
}