.blog__section{
	padding: 186px 0 130px;
	.title{
		width: 100%;
		float: left;
		h2{
			margin-bottom: 28px;
		}
	}
}
.posts__row{
	-webkit-transition: all 0.3s ease;
        	transition: all 0.3s ease;
	&.load{
		opacity: 0.6;
		pointer-events: none;
		
	}
}
.post__title{
	padding: 151px 0 0;
	.blog__nav{
		width: 100%;
		float: left;
		margin: 0 0 18px 0;
		a{
			padding-left: 35px;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			color: #333333;
			position: relative;
			&:hover{
				&::before{
					left: -5px;
				}
				color: #4B9220;
			}
			&::before{
				content: '';
				width: 21px;
				height: 12px;
				display: block;
				position: absolute;
				top: 3px;
				left: 0;
				background-image: url(../images/icon_back_arrow.svg);
				-webkit-transition: all 0.3s ease;
        				transition: all 0.3s ease;
			}
		}
	}
	.post__date{
		width: 100%;
		float: left;
		font-size: 16px;
		line-height: 24px;
		color: #555555;
		margin-bottom: 8px;
	}
	.title{
		width: 100%;
		float: left;
		h1{
			margin-bottom: 21px;
		}
	}
}
.post__text{
	width: 100%;
	float: left;
	margin-bottom: 70px;
	.text{
		width: 100%;
		float: left;
	}
}
.videos__section{
	margin-bottom: 32px;
	.video__slider{
		width: 100%;
		float: left;
		position: relative;
		.slide{
			width: 100%;
			float: left;
			iframe{
				width: 100%;
				height: 630px;
				float: left;
			}
		}
		.slick-arrow{
			width: 60px;
			height: 60px;
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: #fff;
			border: none;
			font-size: 0;
			padding: 0;
			color: transparent;
			z-index: 1;
			outline: none;
			-webkit-transition: all 0.2s ease;
    				transition: all 0.2s ease;
			&.slick-disabled,
			&:active{
				opacity: 0.8;
			}
			&::before{
				content: '';
				width: 21px;
				height: 12px;
				display: block;
				position: absolute;
				background-image: url(../images/icon_next.svg);
				top: 23px;
				left: 19px;
			}
			&.slick-prev{
				right: 60px;
				&::before{
					background-image: url(../images/icon_prev.svg);
				}
				&::after{
					content: '';
					width: 1px;
					height: 40px;
					background-color: #333;
					display: block;
					position: absolute;
					top: 10px;
					right: 0;
					z-index: 1;
					opacity: 0.2;
				}
			}
		}
	}
}
.sharing__block{
	width: 100%;
	float: left;
	margin-bottom: 41px;
	h6{
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		float: left;
		margin-right: 15px;
	}
	a{
		display: block;
		float: left;
		width: 24px;
		height: 24px;
		background-image: url(../images/icon_facebook_green.svg);
		&:hover{
			opacity: 0.7;
		}
	}
}
.post__navigation{
	width: 100%;
	float: left;
	margin-bottom: 30px;
	a{
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		display: block;
		position: relative;
		&::before{
			content: '';
			width: 21px;
			height: 12px;
			display: block;
			position: absolute;
			top: 5px;
			-webkit-transition: all 0.3s ease;
    				transition: all 0.3s ease;
		}
		&[rel="prev"]{
			float: left;
			padding-left: 35px;
			&::before{
				left: 0;
				background-image: url(../images/icon_back_arrow.svg);
			}
		}
		&[rel="next"]{
			float: right;
			padding-right: 35px;
			&::before{
				right: 0;
				background-image: url(../images/icon_next_arrow.svg);
			}
		}
		&:hover{
			color: #4B9220;
		}
	}
}
.images__section{
	margin: 0 0 22px;
}
.image__slider{
	width: 100%;
	float: left;
	.image{
		width: 100%;
		float: left;
		padding: 0 15px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.slide{
		outline: none;
	}
	.slick-arrow{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		right: 15px;
		background-color: #fff;
		border: none;
		font-size: 0;
		padding: 0;
		color: transparent;
		z-index: 1;
		outline: none;
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
		&.slick-disabled,
		&:active{
			opacity: 0.8;
		}
		&::before{
			content: '';
			width: 16px;
			height: 10px;
			display: block;
			position: absolute;
			background-image: url(../images/icon_next.svg);
			background-size: cover;
			background-position: center;
			top: 15px;
			left: 13px;
		}
		&.slick-prev{
			left: 13px;
			right: inherit;
			&::before{
				background-image: url(../images/icon_prev.svg);
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.videos__section .video__slider .slide iframe{
		height: 400px;
	}
}
@include media-breakpoint-down(xs){
	.videos__section .video__slider .slide iframe{
		height: 300px;
	}
}