.contacts__of__departments{
	padding: 30px 0 100px;
	.contact__group{
		display: inline-block;
		width: auto;
		margin-right: 30px;
		&:last-child{
			margin-right: 0;
		}
	}
	.title{
		width: auto;
		h5{
			margin-bottom: 30px;
			font-weight: 600;
		}
	}
	.contacts__block{
		width: 100%;
		max-width: 300px;
		height: 150px;
		float: left;
		box-shadow: 0px 4px 25px 5px rgba(48, 59, 41, 0.13);
		margin-bottom: 30px;
		position: relative;
		margin-right: 30px;
		&:last-child{
			margin-right: 0;
		}
		&.show{
			z-index: 100;
			.details__wrapper{
				height: auto;
			}
			.show__more::after{
				-webkit-transform: rotate(180deg);
                    	transform: rotate(180deg);
			}
		}
		.details__wrapper{
			width: 100%;
			height: 130px;
			float: left;
			overflow: hidden;
			padding: 20px 30px;
			background: #FFFFFF;
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
		}
		.show__more{
			width: 100%;
			height: 20px;
			float: left;
			background: #F5F5F5;
			cursor: pointer;
			position: relative;
			&::after{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 6px 0 6px;
				border-color: #4B9220 transparent transparent transparent;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -4px 0 0 -3px;
			}
		}
		h6{
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 10px;
		}
		p{
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 7px;
		}
	}
}