footer{
	width: 100%;
	min-height: 275px;
	float: left;
	background-image: url(../images/footer-background.jpg);
	background-position: center;
	background-size: cover;
	padding: 43px 15px 96px;
	position: relative;
	margin-top: 65px;
	&.nomargin{
		margin-top: 0;
	}
	.logo{
		position: absolute;
		top: 0;
		left: 15px;
		display: block;
	}
	.widget_nav_menu{
		width: 100%;
		float: left;
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				width: 100%;
				float: left;
				margin-bottom: 20px;
				a{
					font-size: 14px;
					line-height: 17px;
					color: #FFFFFF;
					&:hover{
				        color: #4B9220;
				    }
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.widget_text{
		width: 100%;
		float: left;
		h5{
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			color: #FFFFFF;
			margin-bottom: 8px;
		}
		p{
			font-size: 14px;
			line-height: 21px;
			color: #FFFFFF;
			margin-bottom: 10px;
		}
		a{
			font-size: 14px;
			line-height: 21px;
			color: #FFFFFF;
			margin-bottom: 10px;
			&:hover{
		        color: #4B9220;
		    }
		}
	}
}
.fixed__block{
	position: fixed;
	bottom: 60px;
	right: 20px;
	z-index: 10;
	.to__top{
		width: 36px;
		height: 36px;
		display: block;
		background: #333;
		cursor: pointer;
		float: left;
		margin-left: 10px;
		margin-top: 2px;
		position: relative;
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
		&::before{
			content: '';
			width: 16px;
			height: 7px;
			display: block;
			position: absolute;
			top: 14px;
			left: 10px;
			background-image: url(../images/icon_arrow.svg);
		}
		&:hover{
    		opacity: 0.8;
    	}
	}
	.form__popup{
		display: block;
		padding: 9px 20px 11px;
		float: left;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		cursor: pointer;
		position: relative;
		background: #4B9220;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		border-radius: 2px;
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
		// &::before{
		// 	content: '';
		// 	width: 20px;
		// 	height: 20px;
		// 	display: block;
		// 	position: absolute;
		// 	background-image: url(../images/icon-call.svg);
		// 	top: 50%;
		// 	left: 50%;
		// 	margin: -10px 0 0 -10px;
		// }
		&:hover{
    		opacity: 0.8;
    	}
	}
}
.form__popup__block{
	width: 100%;
	max-width: 350px;
	position: fixed;
	right: -365px;
	bottom: 15px;
	background-color: #fff;
	padding: 55px 20px 20px;
	border: 1px solid #E7E7E7;
	box-shadow: 0px 5px 10px rgba(37, 37, 37, 0.08);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;
    		transition: all 0.5s ease;
	.close{
    	position: absolute;
    	display: block;
    	top: 0;
    	left: 0;
    	width: 36px;
    	height: 36px;
    	background-color: #4B9220;
    	opacity: 1;
    	cursor: pointer;
    	background-size: 12px 12px;
    	background-image: url(../images/icon_close.svg);
    	background-position: center;
    	background-repeat: no-repeat;
    	-webkit-transition: all 0.2s ease;
        		transition: all 0.2s ease;
    	&:hover{
    		opacity: 0.7;
    	}
    }
    .close__popup{
    	width: 50px;
    	height: 50px;
    	position: absolute;
    	left: -70px;
    	bottom: 0;
    	display: block;
    	border-radius: 50%;
    	background-color: #4B9220;
    	cursor: pointer;
    	-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
    	&:hover{
    		opacity: 0.8;
    	}
    	&::before{
    		content: '';
    		display: block;
    		position: absolute;
    		width: 18px;
    		height: 18px;
    		top: 50%;
    		left: 50%;
    		margin: -9px 0 0 -9px;
    		background-position: center;
    		background-repeat: no-repeat;
    		background-image: url(../images/icon_close.svg);
    	}
    }
	&.show{
		right: 15px;
		opacity: 1;
		visibility: visible;
	}
	textarea.form__field{
		height: 100px;
	}
	.wpcf7 form .wpcf7-response-output{
		margin: 20px 0 0;
		padding: 10px 15px;
		font-size: 12px;
		line-height: 18px;
		font-weight: 400;
	}
	.text{
		width: 100%;
		float: left;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 18px;
	}
}
.bottom__line{
	width: 100%;
	min-height: 71px;
	float: left;
	background: rgba(26, 22, 18, 0.6);
	padding: 12px 15px 13px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.copyrights{
	p{
		font-size: 14px;
		line-height: 21px;
		color: #FFFFFF;
		opacity: 0.7;
		margin-bottom: 0;
	}
}
.social__block{
	margin-top: 10px;
	p{
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
		margin-top: 4px;
		margin-bottom: 0;
		float: left;
	}
	.facebook{
		display: block;
		width: 24px;
		height: 24px;
		background-image: url(../images/icon_facebook.svg);
		float: left;
		margin-left: 10px;
		&:hover{
			opacity: 0.7;
		}
	}
}

.popup__wrapper{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(32, 32, 32, 0.7);
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s ease;
    		transition: all 0.2s ease;
   	&.show{
   		opacity: 1;
   		visibility: visible;
   	}
}
.popup__block{
	width: 100%;
	max-width: 1140px;
	position: fixed;
	top: 70%;
	left: 50%;
	z-index: 1001;
	background-color: #fff;
	padding: 30px 65px 30px 15px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease;
    		transition: all 0.2s ease;
    .close{
    	position: absolute;
    	display: block;
    	top: 0;
    	right: 0;
    	width: 50px;
    	height: 50px;
    	background-color: #4B9220;
    	opacity: 1;
    	cursor: pointer;
    	background-image: url(../images/icon_close.svg);
    	background-position: center;
    	background-repeat: no-repeat;
    	-webkit-transition: all 0.2s ease;
        		transition: all 0.2s ease;
    	&:hover{
    		opacity: 0.7;
    	}
    }
    .body{
    	width: 100%;
    	float: left;
    	max-height: 80vh;
    	overflow: auto;
    }
    .popup__content{
    	width: 100%;
    	float: left;
    	.images{
    		width: 100%;
    		float: left;
    		.image{
    			width: 100%;
    			float: left;
    			margin-bottom: 30px;
    			&.placeholder{
    				width: 100%;
    				height: 340px;
    				background-color: #F2F2F2;
    				background-image: url(../images/image-placeholder.png);
			    	background-position: center;
			    	background-repeat: no-repeat;
    			}
    			img{
    				width: 100%;
    				height: auto;
    			}
    		}
    	}
    	.text{
    		width: 100%;
    		float: left;
    		h5,h6{
    			margin-bottom: 20px;
    		}
    	}
    }
    &.show{
   		opacity: 1;
   		visibility: visible;
   		top: 50%;
   	}
}
@media screen and (max-width: 1500px){
	footer .logo{
		width: 100%;
		float: left;
		text-align: center;
		position: static;
		margin-bottom: 40px;
	}
}
@media screen and (max-height: 750px){
	.field__title, .thanks__field h6{
		font-size: 12px;
		line-height: 14px;
	}
	.form__popup__block {
		padding: 45px 20px 20px;
		.text{
			font-size: 12px;
			line-height: 14px;
		}
		textarea.form__field{
			height: 60px;
		}
		.form__field{
			margin-bottom: 10px;
		}
	}
}
@include media-breakpoint-down(md){
	footer{
		padding: 43px 15px 120px;
		.widget_nav_menu ul {
			margin-bottom: 10px;
			li{
				margin-bottom: 10px;
			}
		}
		.widget_text{
			margin-top: 30px;
		}
		.copyrights{
			width: 100%;
			float: left;
		}
		.social__block{
			width: 100%;
			float: left;
			text-align: left;
		}
	}
}