::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #4B9220;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(16,16,16,1);
}
::-webkit-scrollbar-thumb:active {
    background: #000;
}
.nopadding{
	padding-left: 0;
	padding-right: 0;
}
html{
	overflow: hidden;
    overflow-y: auto;
}
body{
    width: 100%;
    float: left;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
main{
	width: 100%;
	min-height: 60vh;
	float: left;
}
section{
	width: 100%;
	float: left;
}
// .container {
//     max-width: 1170px;
// }
.circle{
	display: block;
	position: absolute;
	pointer-events: none;
	&.top{
		width: 395px;
		height: 393px;
		top: -178px;
		left: 50%;
		margin-left: -197.5px;
		background-image: url(../images/circle-top.svg);
	}
	&.left{
		width: 660px;
		height: 656px;
		top: 281px;
		left: -218px;
		background-image: url(../images/circle.svg);
	}
	&.bottom{
		width: 560px;
		height: 556px;
		background-image: url(../images/circle-bottom.svg);
		bottom: -180px;
		left: 50%;
		margin-left: -280px;
	}
}
/*Main banner*/
.main__banner{
	min-height: 70vh;
	padding-bottom: 100px;
	.text{
		width: 100%;
		float: left;
		padding: 278px 0 0;
		h5{
			color: #555555;
			opacity: 0.5;
			margin-bottom: 0;
		}
		h1{
			font-weight: 700;
			margin-bottom: 24px;
			color: #4B9220;
		}
		p{
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 33px;
		}
	}
	.image__block{
		display: block;
		position: absolute;
		width: 564px;
		height: 545px;
		right: -14px;
		top: 168px;
	}
}
/*Service section*/
.service__section{
	padding: 100px 0 63.5px;
	.text{
		width: 100%;
		float: left;
		margin-top: 45px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		h2{
			margin-bottom: 11px;
		}
	}
}
.service__row{
	>div:nth-child(4n+3){
		margin-left: 90px;
	}
}
.service__thumbnail{
	width: 100%;
	height: 160px;
	display: block;
	background-size: cover;
	background-position: center; 
	position: relative;
	margin-bottom: 30px;
	border-radius: 0px 25px 0px 15px;
	overflow: hidden;
	cursor: pointer;
	&.small{
		height: 140px;
		h6{
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
		}
	}
	&.large{
		height: 250px;
	}
	&::before{
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease;
            	transition: all 0.3s ease;
	}
	h6{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		font-weight: 600;
		color: #FFFFFF;
		padding: 0 39px 19px;
		margin-bottom: 0;
		z-index: 2;
		&::before{
			content: '';
			width: 35px;
			height: 35px;
			display: block;
			position: absolute;
			top: -9px;
			left: 16px;
			background-image: url(../images/services/service_icon.svg);
			z-index: 1;
			-webkit-transition: all 0.5s ease;
            		transition: all 0.5s ease;
		}
		span{
			position: relative;
			z-index: 2;
		}
	}
	&:hover{
		&::before{
			opacity: 1;
			visibility: visible;
		}
		h6::before{
			-webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
		}
	}
}
.news__section{
	padding: 33.5px 0 65px;
	h2{
		margin-bottom: 41px;
	}
}
.article__block{
	width: 100%;
	float: left;
	position: relative;
	padding-left: 195px;
	.thumbnail{
		width: 360px;
		height: 240px;
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		z-index: 1;
		background-position: center;
		background-size: cover;
	}
	.excerpt{
		width: 100%;
		min-height: 184px;
		float: left;
		padding: 34px 30px;
		margin-top: 96px;
		margin-bottom: 40px;
		background-color: #fff;
		border: 1px solid #E7E7E7;
		position: relative;
		z-index: 2;
		-webkit-transition: all 0.5s ease!important;
        		transition: all 0.5s ease!important;
	}
	.date{
		width: 100%;
		float: left;
		margin-bottom: 7px;
		color: #555555;
	}
	h6{
		width: 100%;
		float: left;
		font-weight: 600;
		margin-bottom: 13px;
		color: #333333;
		-webkit-transition: all 0.3s ease;
        		transition: all 0.3s ease;
	}
	p{
		width: 100%;
		float: left;
		margin-bottom: 0;
		color: #404040;
	}
	&:hover{
		.excerpt{
			border-color: #4B9220;
		}
		h6{
			color: #4B9220; 
		}
	}
}
.content__section{
	margin: 57px 0 40px;
}
.service__section__normal{
	margin: 50px 0 33px;
}
.press__section{
	margin: 62px 0 64px;
	h2.h3{
		margin-bottom: 41px;
	}
}
.press__block{
	width: 100%;
	float: left;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	padding: 23px 30px;
	position: relative;
	margin-bottom: 40px;
	-webkit-transition: all 0.3s ease!important;
    		transition: all 0.3s ease!important;
	&::before{
		content: '';
		position: absolute;
		top: 16px;
		right: 16px;
		display: block;
	}
	&.video{
		&::before{
			width: 26px;
			height: 16px;
			background-image: url(../images/icon_video.svg);
		}
	}
	&.audio{
		&::before{
			width: 20px;
			height: 20px;
			background-image: url(../images/icon_audio.svg);
		}
	}
	&:hover{
		border-color: #4B9220;
		h6{
			color: #4B9220;
		}
	}
	.date{
		width: 100%;
		float: left;
		margin-bottom: 7px;
		font-size: 16px;
		line-height: 24px;
		color: #555555;
	}
	h6{
		font-weight: 600;
		line-height: 24px;
		margin-bottom: 15px;
		color: #333333;
		-webkit-transition: all 0.3s ease;
        		transition: all 0.3s ease;
	}
	p{
		margin-bottom: 0;
	}
}
.contacts__section{
	margin: 64px 0;
	h4{
		margin-bottom: 29px;
	}
	.contact__row{
		padding-left: 70px;
	}
	.contact__block{
		width: 100%;
		min-height: 116px;
		float: left;
		padding: 20px 30px 24px 30px;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		margin-bottom: 20px;
		border: 1px solid transparent;
		-webkit-transition: all 0.3s ease;
        		transition: all 0.3s ease;
		p{
			margin-bottom: 0;
			color: #404040;
		}
		&:hover{
			border-color: #4B9220;
		}
	}
	.map__block{
		width: 100%;
		float: left;
		padding-left: 80px;
		margin-bottom: -330px;
		.block{
			width: 100%;
			height: 600px;
			background-color: #ccc;
		}
		.marker__list{
			display: none;
		}
	}
}
.vacancies__section{
	margin: 57px 0;
	.text{
		margin-bottom: 33px;
	}
}
.vacancy__block{
	width: 100%;
	float: left;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	padding: 32px 30px 24px;
	margin-bottom: 10px;
	&.show{
		.description{
			display: block;
		}
		.show{
			&::before{
				height: 0;
			}
		}
	}
	h6{
		font-weight: 600;
		margin-bottom: 6px;
		padding-right: 50px;
	}
	.details__row{
		width: 100%;
		float: left;
		margin-bottom: 6px;
		div{
			float: left;
			font-size: 16px;
			line-height: 24px;
			color: #555555;
			position: relative;
			margin: 0 8px;
			&::after{
				content: '';
				width: 1px;
				height: 18px;
				display: block;
				position: absolute;
				background-color: #555555;
				opacity: 0.2;
				right: -8.5px;
				top: 2px;
			}
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
				&:after{
					display: none;
				}
			}
		}
	}
	.description{
		width: 100%;
		float: left;
		display: none;
	}
	.show{
		width: 28px;
		height: 28px;
		position: absolute;
		top: 46px;
		right: 32px;
		cursor: pointer;
		display: block;
		&::before{
			content: '';
			width: 4px;
			height: 28px;
			background-color: #4B9220;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
		}
		&::after{
			content: '';
			width: 28px;
			height: 4px;
			background-color: #4B9220;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
		}
	}
}
.tabs__section{
	margin: 38px 0 30px;
}
.tabs{
	width: 100%;
	float: left;
	margin-top: 21px;
	.tabs__nav{
		width: 100%;
		float: left;
		margin-bottom: 22px;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				float: left;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				color: #252525;
				opacity: 0.5;
				position: relative;
				cursor: pointer;
				overflow: hidden;
				padding-bottom: 4px;
				margin-right: 30px;
				margin-bottom: 10px;
				-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
				&::after{
					content: '';
					width: 100%;
					height: 2px;
					display: block;
					position: absolute;
					bottom: 0;
					left: -100%;
					background-color: #4B9220;
					-webkit-transition: all 0.5s ease;
    						transition: all 0.5s ease;
				}
				&.active,
				&:hover{
					opacity: 1;
					&::after{
						left: 0;
					}
				}
			}
		}
	}
	.tabs__block{
		width: 100%;
		float: left;
		position: relative;
		.tab{
			width: 100%;
			float: left;
			position: absolute;
			top: 50px;
			left: 0;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&.active{
				position: relative;
				top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.show__form{
	margin: 5px 0 0;
}
.vacancies__nav,
.categories__nav{
	width: 100%;
	float: left;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
	cursor: pointer;
	position: relative;
	margin-bottom: 30px;
	z-index: 9;
	&::after{
	    content: '';
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 7px 5px 0;
	    border-color: #4B9220 transparent transparent;
	    position: absolute;
	    right: 14px;
	    top: 50%;
	    margin-top: -3.5px;
	    -webkit-transition: all .3s ease;
	    		transition: all .3s ease;
	}
	.value{
		width: 100%;
		height: 44px;
		float: left;
		background: #FFFFFF;
		border: 1px solid #E7E7E7;
		padding: 11px 34px 11px 20px;
	}
	ul{
		width: 100%;
		float: left;
		list-style: none;
		padding: 5px 0;
		margin: 0;
		background: #FFFFFF;
		border: 1px solid #E7E7E7;
		position: absolute;
		top: 120%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		z-index: 1;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		li{
			width: 100%;
			float: left;
			a,span{
				width: 100%;
				float: left;
				display: block;
				color: #333333;
				font-size: 14px;
				background-color: #fff;
				padding: 11px 34px 11px 20px;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
			&.active,
			&:hover{
    			a,span{
    				color: #fff;
    				background-color: rgba(75,146,32,.8);
    			}
			}
			
		}
	}
	&:hover{
		&::after{
			-webkit-transform: rotate(180deg);
    				transform: rotate(180deg);
		}
		ul{
			top: 100%;
			opacity: 1;
			visibility: visible;
		}
	}
}
.vacancy__row{
	&.hide{
		display: none;
	}
}
/*Map section*/
.map__section{
	position: relative;
	margin: 30px 0 58px;
	.text{
		width: 100%;
		float: left;
		margin-top: 63px;
		h6{
			margin-bottom: 12px;
		}
		a{
			color: #404040;
			font-size: 16px;
			line-height: 20px;
			&:hover{
				color: #4B9220;
				text-decoration: underline;
			}
		}
		p{
			margin-bottom: 16px;
		}
	}
	.map__block{
		width: 100%;
		float: left;
		padding-left: 120px;
		margin-bottom: -500px;
		.block{
			width: 100%;
			height: 500px;
			background-color: #ccc;
		}
		.marker__list{
			display: none;
		}
	}
}
/*Form section*/
.form__section{
	margin: 58px 0 65px;
	.form__block{
		width: 100%;
		float: left;
		margin-top: 14px;
	}
}
.half__column{
	width: 50%;
	float: left;
	padding-right: 30px;
}
.field__title{
	width: 100%;
	float: left;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #333;
	margin-bottom: 10px;
}
.thanks__field{
	width: 100%;
	float: left;
	h6{
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		color: #333;
		margin-bottom: 10px;
	}
}
.form__field{
	width: 100%;
	height: 65px;
	float: left;
	background: #FCFCFC;
	border: 1px solid #EEEEEE;
	font-size: 14px;
	line-height: 17px;
	color: #555555;
	padding: 0 20px;
	margin-bottom: 20px;
	&:focus{
		outline: none;
	}
	&.small{
		height: 40px;
	}
}
textarea.form__field{
	height: 150px;
	resize: none;
	padding: 15px 20px;
}
.full__column{
	width: 100%;
	float: left;
}
.form__submit{
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	padding: 6px 15px 6px;
	background-color: transparent;
	border: none;
	border-right: 3px solid #4B9220;
	border-left: 3px solid #4B9220;
	margin-top: 20px;
	&:hover{
		background-color: #4B9220;
		color: #fff;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}
	&:focus{
		outline: none;
	}
}
div.wpcf7-response-output{
	width: 100%;
	float: left;
	text-align: center;
	padding: 10px 15px;
	font-weight: 600;
}
.wpcf7-form-control-wrap{
	width: 100%;
	float: left;
	.wpcf7-not-valid-tip{
		width: 100%;
		float: left;
		font-size: 12px;
		display: block;
		margin-bottom: 15px;
		margin-top: -15px;
	}
}
.file__label{
	width: 100%;
	float: left;
	.placeholder{
		width: 100%;
		height: 44px;
		float: left;
		background: #FCFCFC;
		border: 1px solid #EEEEEE;
		font-size: 14px;
		line-height: 17px;
		color: #555555;
		padding: 13px 20px;
		margin-bottom: 20px;
		cursor: pointer;
	}
	input[type="file"]{
		display: none;
	}
}
.vacancy__form{
	width: 100%;
	float: left;
	display: none;
	&.show{
		display: block;
	}
	.form__submit{
		margin-top: 0px;
	}
	div.wpcf7-response-output{
		margin: 0 0 30px 0;
	}
}
.submit__group{
	width: 100%;
	float: left;
	.cancel{
		display: inline-block;
		cursor: pointer;
		margin-right: 30px;
		color: #252524;
		font-size: 14px;
		line-height: 17px;
	}
	p{
		display: inline-block;
	}
}
/*Two columns text section*/
.column__text__section{
	margin: 10px 0 32px;
	.text{
		width: 100%;
		float: left;
		column-count: 2;
		column-gap: 30px;
		column-fill: auto;
	}
}
/*Products section*/
.product__section{
	margin: 50px 0 0;
	.product__thumbnail{
		width: 100%;
		height: 435px;
		background-position: center;
		background-size: cover;
		float: left;
		border-radius: 0;
		margin-bottom: 0;
		&::before{
			display: none;
		}
	}
}

.product__info{
	width: 100%;
	min-height: 279px;
	padding: 36px 30px;
	float: left;
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
	margin: -239px 0 80px 0;
	h5{
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
	ul{
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			width: 50%;
			float: left;
			margin-bottom: 12px;
			a{
				font-size: 18px;
				line-height: 27px;
				color: #333333;
				&:hover{
					color: #4B9220;
					text-decoration: underline;
				}
			}
		}
	}
}
.partners__row{
	width: 100%;
	float: left;
	margin-bottom: 67px;
	h3{
		margin-bottom: 51px;
	}
	.logos__row{
		width: 100%;
		float: left;
		.logo{
			width: auto;
			min-height: 118px;
			display: initial;
			vertical-align: middle;
			margin: 0 57px 0 0;
			img{
				margin-bottom: 50px;
			}
			&:last-child{
				margin: 0 0 0 0;
			}
		}
	}
}
.services__row{
	width: 100%;
	float: left;
	margin-bottom: 22px;
	h5{
		margin-bottom: 31px;
	}
}
.documents__row{
	width: 100%;
	float: left;
	margin-bottom: 46px;
	.text{
		width: 100%;
		float: left;
		h6{
			margin-bottom: 25px;
		}
	}
	.document__block{
		width: 100%;
		float: left;
		background: #F8F8F8;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		margin-bottom: 20px;
		padding: 0 15px 0 70px;
		position: relative;
		.icon{
			width: 34px;
			height: 36px;
			display: block;
			position: absolute;
			top: 26px;
			left: 18px;
			background-image: url(../images/icon_document.svg);
		}
		.name{
			width: 100%;
			height: 88px;
			position: relative;
			float: left;
			p{
				width: 100%;
				position: absolute;
				left: 0;
				top: 50%;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				color: #333333;
				margin-bottom: 0;
				-webkit-transform: translateY(-50%);
                    	transform: translateY(-50%);
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
		}
		&:hover{
			.name p{
				color: #4B9220;
			}
		}
	}
}
.text__columns{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	.text{
		width: 100%;
		h5{
			margin-bottom: 22px;
		}
		h6{
			margin-bottom: 12px;
		}
		&.text__2{
			margin-top: 51px;
		}
		p{
			font-size: 16px;
			line-height: 32px;
			color: #404040;
		}
		a{
			font-size: 16px;
			line-height: 20px;
			color: #404040;
			&:hover{
				color: #4B9220;
				text-decoration: underline;
			}
		}
	}
}
.benefits__row{
	width: 100%;
	float: left;
	margin-bottom: 46px;
	.benefit__block{
		width: 100%;
		min-height: 185px;
		float: left;
		margin-bottom: 20px;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		position: relative;
		padding: 65px 20px 24px 20px;
		border-radius: 0 25px 0 15px;
		h6{
			font-size: 16px;
			line-height: 24px;
			color: #333333;
			margin-bottom: 0;
		}
		p{
			margin-bottom: 0;
		}
		span{
		    width: 35px;
		    height: 35px;
		    display: block;
			position: absolute;
			top: 20px;
			left: 16px;
			padding: 9px 7px 0 7px;
			text-align: right;
			font-weight: 600;
			font-size: 20px;
			line-height: 26px;
			color: #FFFFFF;
			background-image: url(../images/services/service_icon.svg);
    		z-index: 1;
		}
	}
}
.cultures__row{
	width: 100%;
	float: left;
	margin-bottom: 21px;
	.text{
		h6{
			margin-bottom: 25px;
		}
	}
	.culture__block{
		width: 100%;
		height: 124px;
		background: #FFFFFF;
		border-radius: 0 25px 0 15px;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		padding: 76px 20px 24px 20px;
		position: relative;
		margin-bottom: 30px;
		.icon{
			position: absolute;
			top: 24px;
			left: 20px;
		}
		h6{
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			color: #333333;
			margin-bottom: 0;
		}
	}
}
.images__texts__row{
	width: 100%;
	float: left;
	margin-bottom: 23px;
	.content__block{
		width: 100%;
		float: left;
		.image{
			width: 100%;
			height: 263px;
			display: block;
			background-size: cover;
			background-position: center;
			float: left;
		}
		.text{
			width: 100%;
			min-height: 168px;
			float: left;
			margin: -128px 0 60px 0;
			background: #FFFFFF;
			box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
			padding: 32px 30px 24px 30px;
			h6{
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 16px;
			}
			p{
				margin-bottom: 0;
				color: #404040;
			}
		}
	}
}
.prices__row{
	width: 100%;
	float: left;
	margin-bottom: 36px;
	h6{
		margin-bottom: 25px;
	}
	.price__block{
		width: 100%;
		float: left;
		background: #FFFFFF;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
		margin-bottom: 30px;
		position: relative;
		padding: 0 98px 0 20px;
		.text{
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			min-height: 93px;
			h6{
				top: 50%;
				position: absolute;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				color: #333333;
				margin-bottom: 0;
				-webkit-transform: translateY(-50%);
                    	transform: translateY(-50%);
			}
		}
		.price{
			width: 78px;
			background: #F5F5F5;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 22px 0;
			text-align: center;
			span{
				width: 100%;
				float: left;
				clear: both;
				display: block;
				font-weight: 600;
				font-size: 18px;
				line-height: 24px;
				color: #4B9220;
			}
		}
	}
}
.faq__section{
	margin-bottom: 95px;
	.text h2{
		margin-bottom: 31px;
	}
}
.guestion__block{
	width: 100%;
	min-height: 88px;
	float: left;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	margin-bottom: 20px;
	position: relative;
	.title{
		width: 100%;
		float: left;
		padding: 31px 88px 31px 30px;
		h6{
			margin-bottom: 0;
			b{
				font-weight: 600;
			}
		}
	}
	.show__icon{
		width: 28px;
		height: 28px;
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
		display: block;
		&::before{
			content: '';
			width: 4px;
			height: 28px;
			background-color: #4B9220;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
		}
		&::after{
			content: '';
			width: 28px;
			height: 4px;
			background-color: #4B9220;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
		}
	}
	.text{
		width: 100%;
		float: left;
		display: none;
		padding: 0 88px 10px 30px;
		
	}
	&.show{
		.text{
			display: block;
		}
		.show__icon{
			&::before{
				height: 0;
			}
		}
	}
}
.spare__parts__section{
	padding: 108px 0 54px;
	.text{
		h2{
			margin-bottom: 41px;
		}
	}
	.banner{
		width: 100%;
		float: left;
		margin-bottom: 30px;
		img{
			width: 100%;
			height: auto;
		}
	}
}
.spare__block{
	width: 100%;
	float: left;
	margin-bottom: 30px;
	h6, p{
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 0;
		b{
			font-weight: 600;
		}
	}
}
.equpments__section{
	padding: 35px 0;
}
.equpment__block{
	width: 100%;
	float: left;
	.image{
		width: 100%;
		height: 320px;
		float: left;
		background-position: center;
		background-size: cover;
	}
	.text{
		width: 100%;
		min-height: 192px;
		float: left;
		padding: 32px 30px 24px 30px;
		background: #FFFFFF;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
		margin: -128px 0 40px 0;
		h6{
			margin-bottom: 16px;
		}
		p{
			font-size: 16px;
			line-height: 24px;
			color: #404040;
			margin-bottom: 0;
		}
	}
}
table,
.tablepress{
	thead{
		th{
			background-color: #fff!important;
		}
	}
	th,td{
		padding: 18px 8px!important;
		border: 1px solid #D1D1D1!important;
		text-align: center!important;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		background-color: #fff!important;
	}
}
.image__content__section{
	margin-bottom: 40px;
}
.services__content__section{
	.text__block{
		width: 100%;
		float: left;
		margin-bottom: 15px;
		ul{
			margin: 0 0 30px 0; 
			li{
				margin-bottom: 0;
			}
		}
	}
	.three__block{
		width: 100%;
		min-height: 120px;
		float: left;
		margin-bottom: 20px;
		padding: 20px 15px 60px 15px;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		border-radius: 0px 25px 0px 15px;
		position: relative;
		p{
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 0;
		}
		h5{
			position: absolute;
			bottom: 15px;
			left: 15px;
			right: 15px;
			margin-bottom: 0;
			color: #4B9220;
		}
		&s{
			width: 100%;
			float: left;
			margin-bottom: 10px;
			h6{
				margin-bottom: 25px;
			}
		}
	}
}
.section__title{
	width: 100%;
	float: left;
	h5{
		margin-bottom: 40px;
	}
	h3{
		margin-bottom: 30px;
	}
}
.logos__section{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	.logo__block{
		width: 100%;
		height: 105px;
		line-height: 105px;
		float: left;
		text-align: center;
		margin-bottom: 50px;
	}
}
.half__width__blocks__section{
	.icons__block{
		width: 100%;
		min-height: 340px;
		float: left;
		padding: 30px 25px 20px 25px;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		margin-bottom: 30px;
		border-radius: 0 25px 0 15px;
		.icon{
			width: 65px;
			height: 65px;
			position: relative;
			margin-bottom: 20px;
			img{
				left: 0;
				top: 50%;
				position: absolute;
				-webkit-transform: translateY(-50%);
                    	transform: translateY(-50%);
			}
		}
		h6{
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 0;
		}
	}
}
.two_blocks_block{
	width: 100%;
	min-height: 80px;
	float: left;
	padding: 20px 20px;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
	margin-bottom: 30px;
	border-radius: 0 25px 0 15px;
	h6{
		margin-bottom: 0;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		position: relative;
		span{
			position: relative;
			z-index: 2;
		}
		// &::before{
		//     content: '';
		//     width: 35px;
		//     height: 35px;
		//     display: block;
		//     position: absolute;
		//     top: -15px;
		//     left: -14px;
		//     background-image: url(../images/services/service_icon.svg);
		//     z-index: 1;
		//     -webkit-transition: all .5s ease;
		//     		transition: all .5s ease;

		// }
	}
}
.products__section{
	margin-bottom: 50px;
}
.product__thumbnail{
	width: 100%;
	height: 140px;
	float: left;
	border-radius: 0px 25px 0px 15px;
	position: relative;
	background-position: center;
	background-size: cover;
	margin-bottom: 30px;
	overflow: hidden;
	&::before{
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease;
            	transition: all 0.3s ease;
	}
	h6{
		position: absolute;
		margin-bottom: 0;
		font-size: 18px;
		line-height: 24px;
		left: 35px;
		bottom: 20px;
		right: 45px;
		color: #fff;
		font-weight: 600;
		&::before{
		    content: '';
		    width: 35px;
		    height: 35px;
		    display: block;
		    position: absolute;
		    top: -9px;
		    left: -20px;
		    background-image: url(../images/services/service_icon.svg);
		    z-index: 1;
		    -webkit-transition: all .5s ease;
		    		transition: all .5s ease;

		}
		span{
			position: relative;
			z-index: 2;
		}
	}
	&:hover{
		&::before{
			opacity: 1;
			visibility: visible;
		}
		h6::before{
			-webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
		}
	}
}
.informations__block{
	width: 100%;
	float: left;
	position: relative;
	padding: 135px 0 0 20px;
	margin-bottom: 30px;
	&.small{
		padding: 135px 0 0 100px;
		margin-bottom: 60px;
		.image{
			height: 265px;
			right: 100px;
		}
		.text{
			padding: 30px 30px 25px;
		}
	}
	.image{
		height: 240px;
		position: absolute;
		top: 0;
		left: 0;
		right: 30px;
		background-size: cover;
		background-position: center;
	}
	.text{
		width: 100%;
		min-height: 175px;
		background-color: #fff;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
		position: relative;
		padding: 15px;
		h6{
			line-height: 24px;
			margin-bottom: 16px;
			b{
				font-weight: 600;
			}
		}
		p{
			margin-bottom: 0;
		}
	}
	&s__section{
		padding: 50px 0;
	}
}
.text__image__blocks__section{
	.text{
		width: 100%;
		float: left;
	}
	.image{
		width: 100%;
		float: left;
		img{
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	.text__block{
		width: 100%;
		min-height: 120px;
		float: left;
		padding: 20px 15px 60px;
		position: relative;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		border-radius: 0px 25px 0px 15px;
		margin-bottom: 20px;
		h6{
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			color: #333;
			margin-bottom: 0;
		}
		h5{
			font-weight: 700;
			line-height: 29px;
			color: #4B9220;
			position: absolute;
			bottom: 15px;
			left: 15px;
			right: 15px;
			margin-bottom: 0;
		}
	}
}
.half__text__image__information__block{
	margin-bottom: 40px;
	.text{
		width: 100%;
		float: left;
	}
	.image{
		width: 100%;
		float: left;
		img{
			width: 100%;
			height: auto;
		}
	}
	.text__info__block{
		width: 100%;
		float: left;
		margin-bottom: 40px;
	}
	.information__block{
		width: 100%;
		min-height: 150px;
		float: left;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
		border-radius: 0 25px 0 15px;
		padding: 20px 15px 90px 15px;
		position: relative;
		h6{
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 0;
		}
		h5{
			position: absolute;
			top: 70px;
			left: 15px;
			right: 15px;
			font-weight: 700;
			font-size: 22px;
			line-height: 26px;
			margin-bottom: 0;
			color: #4B9220;
		}
		p{
			margin-bottom: 0;
			position: absolute;
			top: 100px;
			left: 15px;
			right: 15px;
			line-height: 20px;
		}
	}
}
.elevator__service{
	width: 100%;
	float: left;
	margin-bottom: 30px;
	.image{
		width: 100%;
		height: 160px;
		background-position: center;
		background-size: cover;
		float: left;
		overflow: hidden;
		border-radius: 0 25px 0 15px;
		margin-bottom: 15px;
	}
	.text{
		width: 100%;
		float: left;
		p{
			margin-bottom: 0;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
		}
	}
	&s__blocks{
		margin-bottom: 50px;
	}
}
.map__description__block{
	margin-bottom: 40px;
	.map{
		width: 100%;
		float: left;
		text-align: center;
	}
	.descriptions__list{
		width: 100%;
		float: left;
		margin-top: 250px;
		ul{
			li{
				position: relative;
				padding-left: 20px;
				span{
					display: block;
					width: 10px;
					height: 4px;
					position: absolute;
					left: 0;
					top: 7px;
				}
				&::before{
					display: none;
				}
				margin-bottom: 20px;
				h6{
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 5px;
				}
				p{
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 0;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.main__banner {
		min-height: inherit;
		padding-bottom: 50px;
		.image__block{
			width: 300px;
			height: auto;
			top: 220px;
			img{
				width: 100%;
				height: auto;
			}
		}
		.text{
			h1{
				font-size: 48px;
    			line-height: 56px;
			}
		}
	}
	.service__section{
		padding: 50px 0;
	}
	.contacts__section .map__block{
		padding-left: 0;
		margin-bottom: 0;
	}
}
@include media-breakpoint-down(md){
	.main__banner {
		.image__block{
			display: none;
		}
		.text{
			padding: 180px 0 0;
		}
	}
	.service__section .text{
		position: static;
		margin-bottom: 40px;
	}
	.service__row>div:nth-child(4n+3){
		margin-left: 0;
	}
	.article__block{
		padding-left: 0;
		.thumbnail{
			width: 100%;
			float: left;
			position: static;
		}
		.excerpt{
			margin-top: 0;
		}
	}
	.contacts__section{
		margin: 30px 0 20px;
		.map__block .block{
			height: 400px;
		}
		.contact__row{
			padding-left: 0;
		}
		h4{
			margin-top: 40px;
		}
	}
	.vacancies__section{
		margin: 30px 0;
		.show__form{
			margin: 10px 0 20px;
		}
	}
	.vacancy__block{
		padding: 25px 20px 24px;
		.show{
			top: 25px;
			right: 25px;
		}
	}
	.content__section{
		.wp-caption{
			width: 100%!important;
			float: left;
			margin: 0;
		}
		img{
			width: 100%;
			float: left;
			height: auto;
			max-width: 100%;
		}
	}
	.column__text__section .text{
		column-count: 1;
		column-gap: inherit;
	}
	.images__texts__row .content__block .text{
		margin: 0 0 60px 0;
	}
	.prices__row .price__block {
		padding: 10px 98px 10px 20px;
		.text {
			min-height: inherit;
			h6{
				position: static;
				-webkit-transform: translateY(0);
		    			transform: translateY(0);
			}
		}
		.price{
			min-height: 50px;
			padding: 11px 0;
		}
	}
	.map__section .map__block{
		margin-bottom: 0;
		padding-left: 0;
	}
	.equpment__block{
		.text{
			margin: 0 0 30px 0;
		}
	}
}
@include media-breakpoint-down(sm){
	.product__info{
		margin: 0 0 30px 0;
		min-height: inherit;
	}
	.half__column{
		width: 100%;
		padding-right: 0;
	}
}