body.admin-bar{
	header{
		top: 32px;
		&.static{
			top: 0;
		}
	}
}
header{
	width: 100%;
	min-height: 90px;
	float: left;
	// background: #FFFFFF;
	// box-shadow: 0px 3px 6px rgba(37, 37, 37, 0.05);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&.static{
		position: relative;
		background-color: #fff;
		top: 0;
	}
	&.absolute{
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		width: auto;
		min-height: 80px;
		background-color: #fff;
		.logo{
			margin: 15px 0 0 15px
		}
		.right__nav{
			margin: 25px 0 0;
		}
	}
	.logo{
		display: block;
		margin: 20px 0 0 15px;
		img{
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	&.scroll{
		background: #F8F8F8;
		box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
	}
}
.menu__block{
	margin: 32px 0 0 48px;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			float: left;
			margin: 0 10px;
			position: relative;
			&:hover{
				>ul{
					top: 140%;
					opacity: 1;
					visibility: visible;
				}
			}
			&.current-menu-item{
				a{
					&::before{
						opacity: 1;
						visibility: visible;
						left: 0;
					}
				}
			}
			a{
				font-size: 14px;
				line-height: 17px;
				color: #252525;
				padding: 2px 10px 1px;
				position: relative;
				display: block;
				overflow: hidden;
				&::before{
					content: '';
					width: 2px;
					height: 20px;
					position: absolute;
					display: block;
					left: 10px;
					top: 0;
					opacity: 0;
					visibility: hidden;
					background-color: #4B9220;
					-webkit-transition: all 0.3s ease;
                			transition: all 0.3s ease;
				}
				&:hover{
					&::before{
						opacity: 1;
						visibility: visible;
						left: 0;
					}
				}

			}
			>ul{
				width: 260px;
				float: left;
				display: block;
				position: absolute;
				padding: 11px 0;
				left: 0;
				top: 200%;
				background: #FFFFFF;
				border: 1px solid #E8E8E8;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all 0.3s ease;
            			transition: all 0.3s ease;
				li{
					width: 100%;
					float: left;
					margin: 0;
					a{
						width: 100%;
						float: left;
						padding: 7px 16px;
						font-size: 14px;
						line-height: 17px;
						&::before{
							display: none;
						}
						&:hover{
							color: #4B9220;
						}
					}
				}
			}
		}
	}
}
.right__nav{
	margin: 31px 15px 0;
}
.cabinet__block{
	.cabinet__nav{
		float: left;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				position: relative;
				&.menu-item-has-children{
					&::after{
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 7px 5px 0 5px;
						border-color: #4B9220 transparent transparent transparent;
						position: absolute;
						right: 0;
						top: 50%;
						margin-top: -3.5px;
						-webkit-transition: all 0.3s ease;
				    			transition: all 0.3s ease;
					}
				}
				&:hover{
					>ul{
						top: 110%;
						opacity: 1;
						visibility: visible;
					}
					&::after{
						-webkit-transform: rotate(180deg);
			                    transform: rotate(180deg);
					}
				}
				a{
					display: block;
					font-weight: 600;
					font-size: 14px;
					line-height: 17px;
					padding: 6px 20px 7px;
					color: #333333;
				}
				>ul{
					width: 236px;
					background-color: #fff;
					position: absolute;
					top: 200%;
					right: 0;
					border: 1px solid #E8E8E8;
					opacity: 0;
					visibility: hidden;
					-webkit-transition: all 0.3s ease;
            				transition: all 0.3s ease;
					li{
						width: 100%;
						float: left;
						border-bottom: 1px solid #E8E8E8;
						&:last-child{
							margin-bottom: 0;
						}
						a{
							width: 100%;
							float: left;
							font-weight: 600;
							font-size: 14px;
							line-height: 17px;
							color: #252525;
							display: block;
							padding: 19px 20px 21px;
							&:hover{
								background-color: rgba(75, 146, 32, 0.8);
								color: #fff;
							}
						}
					}
				}
			}
		}	
	}
}
.language__switcher{
	width: 70px;
	position: relative;
	margin: 0 0 0 40px;
	&::after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 5px 0 5px;
		border-color: #4B9220 transparent transparent transparent;
		position: absolute;
		right: 12px;
		top: 50%;
		margin-top: -3.5px;
		-webkit-transition: all 0.3s ease;
    			transition: all 0.3s ease;
	}
	&:hover{
		ul{
			top: 100%;
			opacity: 1;
			visibility: visible;
		}
		&::after{
			-webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
		}
	}
	span{
		width: 100%;
		padding: 6px 32px 7px 12px;
		display: block;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #252525;
		cursor: pointer;
		position: relative;
		&::before{
			content: '';
			width: 2px;
			height: 30px;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background-color: #038C19;
		}
		&::after{
			content: '';
			width: 2px;
			height: 30px;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			background-color: #038C19;
		}
	}
	ul{
		position: absolute;
		top: 150%;
		width: 100%;
		left: 0;
		list-style: none;
		padding: 0;
		margin: 0;
		opacity: 0;
		visibility: hidden;
	    box-shadow: 0 5px 10px rgba(37,37,37,.08);
		-webkit-transition: all 0.3s ease;
    			transition: all 0.3s ease;
		li{
			width: 100%;
			float: left;
			a{
				width: 100%;
				float: left;
				display: block;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				text-align: center;
				text-transform: uppercase;
				color: #252525;
				background-color: #fff;
				padding: 6px 0 7px;
				&:hover{
					background-color: rgba(75, 146, 32, 0.8);
					color: #fff;
				}
			}
		}
	}
}
.mobile__btn{
	width: 40px;
	height: 30px;
	display: block;
	position: relative;
	margin: 21px 10px 0 0;
	cursor: pointer;
	display: none;
	span{
		position: absolute;
		width: 100%;
		height: 4px;
		display: block;
		left: 0;
		background-color: #4B9220;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&:nth-child(1){
            top: 0px;
        }
        &:nth-child(2){
            top: 12px;
        }
        &:nth-child(3){
            top: 24px;
        }

	}
	&.show{
		span{
			&:nth-child(1){
                top: 12px;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -30px;
            }
            &:nth-child(3){
                top: 12px;
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
		}
	}
}
.menu__mobile{
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	bottom: 0;
	float: left;
	background-color: #fff;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
	&.absolute{
		z-index: 10001;
		width: auto;
		left: 15px;
		right: 15px;
		bottom: 15px;
		&.show{
			top: 110px;
		}
	}
	&.show{
		top: 70px;
		opacity: 1;
		visibility: visible;
	}
	.right__nav{
		width: 100%;
		float: left;
		margin: 30px 30px 0 0;
		.language__switcher.float-left{
			float: right!important;
			margin: 0 30px 0 0;
		}
	}
	.menu__block{
		width: 100%;
		float: left;
		margin: 20px 0 0;
		nav{
			width: 100%;
			float: left;
		}
		ul{
			width: 100%;
			float: left;
			li{
				width: 100%;
				float: left;
				margin: 0;
				a{
					width: 100%;
					float: left;
					padding: 7px 30px;
					font-weight: 600;
					font-size: 18px;
					&::before{
						left: 25px;
						top: 13px;
					}
					&:hover{
						&::before{
							opacity: 1;
							visibility: visible;
							left: 15px;
						}
					}
				}
				&.current-menu-item{
					a{
						&::before{
							opacity: 1;
							visibility: visible;
							left: 15px;
						}
					}
				}
				ul{
					padding: 0;
					opacity: 1;
					visibility: visible;
					position: static;
					border: none;
					li{

						a{
							font-size: 14px;
							padding: 5px 10px 5px 50px;
						}
						&.current-menu-item{
							a{
								color: #4B9220;
							}
						}
					}
				}
			}
		}
	}
	.cabinet__block {
		margin-left: 10px;
		.cabinet__nav ul li>ul{
			left: 0;
			right: auto;
			z-index: 1;
			li a{
				padding: 10px 15px 11px;
			}
		}
	}
}
@media screen and (max-width: 1500px){
	.menu__block {
	    margin: 32px 0 0 20px;
		ul li{
			margin: 0 5px;
			a{
				padding: 2px 5px 1px;
			}
		}
	}
}
@media screen and (max-width: 1300px){
	.menu__block {
	    margin: 35px 0 0 10px;
	    ul{
	    	li{
	    		margin: 0;
	    	}
	    }
	}
	.language__switcher{
		margin: 0 0 0 20px;
	}
}
@include media-breakpoint-down(lg){
	header{
		min-height: 70px;
		background: #F8F8F8;
		box-shadow: 0 4px 10px rgba(48,59,41,.1);
		.menu__block,
		.right__nav{
			display: none;
		}
		.logo{
			margin: 13px 0 0 15px;
			img{
				width: 115px;
			}
		}
	}
	.mobile__btn{
		display: block;
	}
}