.images__{
	&text__section{
		width: 100%;
		float: left;
		.text__block{
			margin-top: 40px;
		}
	}
	&block{
		width: 100%;
		float: left;
		.image{
			width: 100%;
			float: left;
			margin-bottom: 20px;
		}
		img{
			width: 100%;
			float: left;
		}
	}
}