.images__navigations__block{
	padding: 63px 0 40px;
}
.nav__block{
	width: 100%;
	height: 160px;
	background-size: cover;
	background-position: center;
	float: left;
	border-radius: 0px 25px 0px 15px;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	&::before{
		z-index: 1;
	    display: block;
	    content: '';
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-color: rgba(0,0,0,.6);
	    opacity: 0;
	    visibility: hidden;
	    -webkit-transition: all .3s ease;
	    		transition: all .3s ease;
	}
	h6{
		position: absolute;
		top: 89px;
		left: 35px;
		right: 35px;
		font-weight: 600;
		color: #fff;
		margin-bottom: 0;
		z-index: 2;
		&::before{
			content: '';
		    width: 35px;
		    height: 35px;
		    display: block;
		    position: absolute;
		    top: -9px;
		    left: -20px;
		    background-image: url(../images/services/service_icon.svg);
		    z-index: -1;
		    -webkit-transition: all .5s ease;
		    		transition: all .5s ease;
		}
	}
	&:hover{
		&::before{
			opacity: 1;
    		visibility: visible;
    	}
	    h6::before{
	    	-webkit-transform: rotate(360deg);
    				transform: rotate(360deg);
    	}
	}
}