.page__title{
	width: 100%;
	float: left;
	padding: 200px 0 0;
	.content{
		width: 100%;
		float: left;
		position: absolute;
		left: 0;
		top: 105px;
		padding-right: 20px;
		z-index: 2;
		h1{
			margin-bottom: 18px;
		}
	}
	&.no__image{
		.content{
			position: static;
		}
	}
}
.title__images{
	margin-bottom: 57px;
	.images{
		width: 100%;
		float: left;
		position: relative;
		.image{
			width: 100%;
			float: left;
			position: relative;
			top: 0;
			left: 0;
			&.image__1{
				z-index: 2;
				img{
					width: 100%;
					height: auto;
					box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
				}
			}
			&.image__2{
				margin-top: -175px;
				margin-left: -215px;
				z-index: 1;
				img{
					box-shadow: 0px 4px 10px rgba(48, 59, 41, 0.1);
				}
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.page__title{
		padding: 120px 0 0;
	}
}
@include media-breakpoint-down(md){
	.title__images .images .image{
		&.image__1{
			position: static;
			top: 0;
			left: 0;
		}
		&.image__2{
			display: none;
		}
	}
	.page__title{
		.content{
			position: static;
			margin: 20px 0 10px;
		}
	}
	.content__section{
	    margin: 30px 0 20px;
	}
}
.product__section{
	
}