.srm-{
	&markers{
		display: none;
	}
	&map{
		&__section{
			width: 100%;
			height: 80vh;
			min-height: 600px;
			float: left;
			position: relative;
		}
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 9999;
		// .leaflet-left .leaflet-control{
		// 	margin-left: 15px;
		// }
		// .leaflet-top .leaflet-control{
		// 	margin-top: 125px;
		// }
		.ol-zoom{
			top: 10px;
			left: 10px;
			button{
				width: 25px;
				height: 25px;
			}
		}
	}
	&sidebar__{
		&wrapper{
			width: 100%;
			max-width: 385px;
			background-color: #fff;
			padding: 25px;
			position: absolute;
			top: 15px;
			right: 15px;
			bottom: 15px;
			z-index: 10000;
			overflow: auto;
		}
		&block{
			width: 100%;
			height: 100%;
			float: left;
			&.hide{
				display: none;
				pointer-events: none;
			}
			h5{
				font-weight: 600;
				font-size: 18px;
				line-height: 24px;
				color: #333;
				margin-bottom: 20px;
			}
		}
		&year{
			width: 100%;
			float: left;
			&.active{
				.srm-sidebar__tax__group{
					display: block;
				}
				h6::before{
					-webkit-transform: rotate(0);
            				transform: rotate(0);
				}
			}
			&s{
				width: 100%;
				float: left;
				padding-left: 31px;
			}
			h6{
				font-weight: 600;
				font-size: 16px;
				line-height: 21px;
				margin-bottom: 10px;
				position: relative;
				cursor: pointer;
				&::before{
					content: '';
					width: 20px;
					height: 12px;
					display: block;
					position: absolute;
					left: -31px;
					top: 4px;
					-webkit-transform: rotate(180deg);
            				transform: rotate(180deg);
					background-image: url(../images/arrow.svg);
				}
			}
		}
		&tax{
			&__group{
				width: 100%;
				float: left;
				padding: 0 0 15px;
				margin-bottom: 20px;
				border-bottom: 1px solid #E7E7E7;
				display: none;
				>.sum{
					width: 100%;
					float: left;
					font-weight: 600;
					font-size: 24px;
					line-height: 21px;
					color: #4B9220;
					margin-bottom: 5px;
				}
				>.expl{
					width: 100%;
					float: left;
					font-weight: 400;
					font-size: 14px;
					line-height: 21px;
					color: #555;
				}
			}
			&__extra{
				width: 100%;
				float: left;
				padding: 15px 0 0 30px;
				margin-top: 15px;
				border-top: 1px solid #E7E7E7;
				>div{
					width: 100%;
					float: left;
					padding: 0 0 15px 0;
					&:last-child{
						padding: 0;
					}
					span{
						width: 100%;
						float: left;
					}
					.sum{
						font-weight: 600;
						font-size: 20px;
						line-height: 21px;
						position: relative;
						&::before{
							content: '';
							width: 10px;
							height: 2px;
							background-color: #4B9220;
							display: block;
							left: -27px;
							top: 9px;
							position: absolute;
						}
					}
					.expl{
						font-weight: 400;
						font-size: 14px;
						line-height: 21px;
					}
				}
			}
		}
	}
	&home-button{
		position: absolute;
		top: 65px;
		left: 10px;
		z-index: 100;
		button{
			background-image: url('../images/home.svg');
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
@include media-breakpoint-down(md){
	.srm-sidebar{
		&__wrapper{
			max-width: 300px;
		}
		&__block{
			h5{
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 10px;
			}
		}
		&__year h6{
			font-size: 14px;
			line-height: 18px;
		}
		&__tax{
			&__group{
				padding: 0 0 10px 0;
				margin-bottom: 15px;
				>.sum{
					font-size: 20px;
					line-height: 18px;
				}
				>.expl{
					font-size: 12px;
					line-height: 16px;
				}
			}
			&__extra{
				padding: 10px 0 0 30px;
				margin-top: 10px;
				>div{
					padding: 0 0 10px 0;
					.sum{
						font-size: 18px;
						line-height: 20px;
					}
					.expl{
						font-size: 12px;
						line-height: 16px;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.srm-sidebar__wrapper{
		max-width: inherit;
		width: auto;
		left: 15px;
		top: 400px;
	}
}