@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic');
body{
	font-family: 'Montserrat', sans-serif;
	color: #333333;
}
h1, .h1{
	font-size: 70px;
	line-height: 85px;
}
h2, .h2{
	font-size: 48px;
	line-height: 59px;
}
h3, .h3{
	font-size: 36px;
	line-height: 44px;
    margin-bottom: 21px;
}
h4, .h4{
	font-size: 28px;
	line-height: 42px;
}
h5, .h5{
	font-size: 24px;
	line-height: 29px;
}
h6, .h6{
	font-size: 20px;
	line-height: 26px;
}
p{
	font-size: 16px;
	line-height: 24px;
	color: #404040;
    margin-bottom: 24px;
}
a{
    color: #4B9220;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &:hover{
        color: #4B9220;
        text-decoration: underline;
    }
}
.btn{
	font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #252525;
    padding: 5px 13px 6px;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    &.load{
        opacity: 0.6;
        pointer-events: none;
    }
    &.hide{
        display: none;
    }
    span{
        width: 2px;
        height: 100%;
        position: absolute;
        background-color: #038C19;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &.left{
            top: 0;
            left: 0;
            
        }
        &.right{
            top: 0;
            right: 0;
        }
    }
    &::before{
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 1;
        background-color: #038C19;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
    &::after{
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 100%;
        z-index: 1;
        background-color: #038C19;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
    &:hover{
    	color: #038C19;
        span{
            &.left{
                top: -100%;
            }
            &.right{
                top: 100%;
            }
        }
        &::before{
            left: 0;
        }
        &::after{
            left: 0;
        }
    }
}
img{
    &.alignleft{
        float: left;
        margin: 0 30px 20px 0;
    }
    &.alignright{
        float: right;
        margin: 0 0 20px 30px;
    }
}
.wp-caption{
    img{
        margin-bottom: 21px;
    }
    &.alignleft{
        float: left;
        margin: 0 30px 0 0;
    }
    &.alignright{
        float: right;
        margin: 0 0 0 30px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        color: #404040; 
    }
}
main{
    ul{
        padding: 0;
        margin: 0 0 24px 0;
        list-style: none;
        li{
            font-size: 16px;
            line-height: 24px;
            color: #404040;
            position: relative;
            padding-left: 20px;
            margin-bottom: 20px;
            &::before{
                content: '';
                width: 10px;
                height: 2px;
                display: block;
                position: absolute;
                top: 11px;
                left: 0;
                background-color: #4B9220;
            }
        }
    }
}